
/* CSS Document */
body {
    font:12px arial;
    color: #222;
    text-align:center;
     }

form, p, span {
    margin:0;
    padding:0; }

input #usermsg{
  font:12px montserrat;
  padding:0;
  margin:0;

}
input[type=text]{
  padding-top:5px;
  padding-left:5px;
  overflow:scroll;
  border-radius:5px;
}
.botaochatenviar{
  width: 50px;
  height:50px;

}
.botaochatenviar img{
  max-width:100%;
  max-height:100%;
  padding:0;
  margin:0;

}
.botaochatquit{
  width: 40px;
  height:40px;
  float:right;

}
.botaochatquit img{
  max-width:100%;
  max-height:100%;
  padding:0;
  margin:0;

}

a {
    color:#0000FF;
    text-decoration:none; }

    a:hover { text-decoration:underline; }

#wrapper {
    margin:0;
    padding-bottom:25px;
    background:#2e2e2e;
    border:1px solid #ACD8F0;
    height:440px;
  }



#chatbox {
    text-align:left;
    margin:0 auto;
    margin-bottom:25px;
    padding:10px;
    background:#dedede;
    height:270px;
    width:510px;
    border:1px solid black;
    border-radius:5px;
    overflow:auto;
    font-size:14px;
    font-family: montserrat;
    color:#2e2e2e;
   }

#usermsg {
    width:70%;
    height:5%;
    color:#2e2e2e !important;
    background-color: #FFFFFF;
    border:1px solid #ACD8F0;
}
 input::placeholder{
  color:#2e2e2e;
}

#submit { width: 60px; }

.error { color: #ff0000; }

#menu { padding:12.5px 25px 12.5px 25px; }

.welcome {
  float:left;
  font-size:20px;
  font-family:montserrat;
  color:whitesmoke;
}

.logout { float:right; }

.msgln { margin:0 0 2px 0; }
